@import "mocha.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 0px 1rem 1rem 0px;
  background-color: @surface0;
  margin: 5px 0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
  border-color: @surface1;
  box-shadow: none;
  text-shadow: none;
  background: none;
}

#custom-music,
#taskbar,
#backlight,
#clock,
#battery,
#wireplumber,
#custom-arch {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#taskbar {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
}
#wireplumber {
  color: @purple;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-arch {
    margin-left: 1rem;
    border-radius: 1rem 0px 0px 1rem;
    color: @blue;
}
